      body {
          margin: 0;
          background: #1B1464;
      }

      @font-face {
          font-family: baloo;
          src: url(BalooDa2-Regular.ttf);
      }

      @font-face {
          font-family: galada;
          src: url(Galada-Regular.ttf);
      }

      .main {
          margin: .8rem;
          width: 100%;
          text-align: center
      }

      .caption {
          font-size: 2.5rem;
          font-weight: bold;
          color: #0be881;
      }

      .sub {
          margin-bottom: .8rem;
          font-family: baloo;
      }

      .subCap {
          font-size: 1.5rem;
          color: #0984e3;
      }

      .sub p {
          margin-top: -.2rem;
          font-size: 1rem;
          color: #2ecc71;
      }

      .sub a {
          color: #e84393;
          text-decoration: none;
          font-family: galada;
      }
